/**
 * @author rrcat920 <wuqieor@outlook.com>
 * @date 2020/2/26 21:56
 */

h1,h2,h3,h4,h5,h6,ul,p,body,dd,dl,dt{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666;
}

img{
    border: none;
    display: block;
}

body {
    min-width: 320px;
    margin: 0 auto;
}

/* 占满整个屏幕 */
html,body {
    width: 100%;
    height: 100%;
}